<nav>
    <ul class="menu">
        <li class="logo"><a href="/">Cooking Compadre</a></li>
        <li class="item"><a href="#">Home</a></li>
        <li class="item has-submenu">
            <a tabindex="0">My Cookbook</a>
            <ul class="submenu">
                <li class="subitem"><a href="#">Item a</a></li>
                <li class="subitem"><a href="#">Item b</a></li>
                <li class="subitem"><a href="#">Item c</a></li>
            </ul>
        </li>
        <li class="item"><a href="#">Settings</a></li>
        <li class="item"><a href="#">About</a></li>
        <li class="toggle"><a href="#"><i class="fas fa-bars"></i></a></li>
    </ul>
</nav>

<mat-slide-toggle>Toggle me!</mat-slide-toggle>